html {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
}

body {
  /* width: 100%;
  margin: 0; */
  margin: 0;
  padding: 0;
  border: 0;
}

#container {
  margin: 0;
  padding: 0;
  border: 0;
}

header {
  border-bottom: 1px solid #d8d8d8;
}

.header_top {
  padding: 60px 0 30px;
  position: relative;
  height: 140px;
}

.wide_max_width_area {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

.logo_area {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
}

.search_area {
  position: absolute;
  top: 65px;
  left: 300px;
}

.search_text {
  width: 350px;
  height: 35px;
  border: 2px solid black;
  border-radius: 24px;
  padding: 0 8px 0 22px;
}

.search_btn {
  background: url("../../resources/img/searchicon.PNG") no-repeat 4px 4px;
  width: 32px;
  height: 32px;
  border: none;
  background-size: 33px;
  position: absolute;
  top: 0;
  right: 11px;
  box-sizing: border-box;
  text-indent: -9999em;
}

.header_nav {
  position: absolute;
  top: 65px;
  right: 10px;
  float: right;
  font-weight: bold;
}

.header_nav ul,
.login {
  float: left;
  margin: 0;
}

.login {
  border-style: none;
  background-color: black;
  width: 64px;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
  list-style: none;
  text-align: center;
}

.login a {
  color: white;
  text-decoration: none;
}

.menu_item {
  list-style: none;
  float: left;
  margin-right: 30px;
  cursor: pointer;
  padding: 2px;
  position: relative;
}
/* 
#menu li a:hover:before, .underline-hover:hover:before */

.menu_item a {
  text-decoration: none !important;
  color: black;
}

.menu_header {
  padding: 5px;
  height: 30px;
  position: relative;
}

.menu_header:before {
  content: "";
  height: 0.1em;
  background-color: #707070;
  display: block;
  width: 0;
  position: absolute;
  left: 0;
  bottom: 0.1em;
  transition: all 0.3s ease-out 0s;
  z-index: -1;
}

.menu_header:hover:before {
  width: 100%;
}

/* .menu_header:hover {
  animation-duration: 1ms;
  -webkit-transition: 1s ease;
  transition: 0.3s ease;
  color: #84cde5;
  border-bottom: 1px solid #84cde5;
} */

.sub_menu_list {
  width: 150px;
  overflow: auto;
  font-weight: lighter;
  color: black;
  position: absolute;
  z-index: 1;
  background-color: white;
  display: none;
  padding: 0;
  /* border-top: 2px solid; */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  list-style: none;
}

.category {
  width: 440px;
  height: 200px;
  right: 0;
  display: none;
  padding: 32px 0 22px;
}

.category_region {
  padding: 25px 0 20px;
}

.category_region li {
  float: left;
  width: 31%;
  list-style: none;
  text-align: right;
  padding: 2px;
}

.category_region li a {
  padding: 3px;
  text-decoration: none;
  color: black;
}

.category p {
  display: block;
  text-align: right;
  font-size: 18px;
  margin-right: 25px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.category_region li a:hover {
  background-color: rgba(184, 185, 185, 0.5);
  color: black;
}

.activity li {
  padding: 13px;
  border-bottom: 0.5px solid #d8d8d8;
}

.activity li:hover {
  background-color: rgba(184, 185, 185, 0.5);
  color: black;
}
.sub_menu_list li a {
  z-index: 1;
  color: black;
  text-decoration: none;
}

.menu_item:hover > .sub_menu_list,
.menu_header {
  display: block;
  text-decoration: none;
  color: black;
}

footer {
  height: 130px;
  background-color: #707070;
  margin-top: 50px;
  padding: 20px;
}

