.review_header {
  text-align: center;
  height: 230px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.review_header h1 {
  margin: 0 auto;
  padding: 10px;
  background-color: #172945;
  border-radius: 40px;
  color: white;
  text-align: center;
  width: 100px;
  font-size: 25px;
  font-weight: bold;
}

.review_header p {
  font-weight: bold;
  padding: 15px;
  color: #707070;
  margin: 0;
  font-size: 15px;
}

.review_wrapper {
  padding: 25px;
  margin: auto;
  position: relative;
}

.btn-group {
  position: absolute;
  top: 0;
  left: 13%;
}

.btn-group .btn {
  width: 130px;
}

.review_contents {
  margin: 15px;
}

.review {
  margin: auto;
  padding: 20px;
  width: 950px;
}

.review img {
  width: 360px;
  height: 230px;
}

.reveiw_paragraph {
  width: 500px;
  float: right;
  background-color: #f3f6f7;
  border-radius: 20px;
  padding: 20px;
}

.reveiw_paragraph h3 {
  margin: 8px;
}

.reveiw_paragraph p {
  font-weight: lighter;
  line-height: 1.4;
}

.btn_more {
  float: right;
  cursor: pointer;
}
.pagination_nav {
  margin: 5px;
  text-align: center;
}
