html {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  min-width: 1280px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  border-bottom: 1px solid #d8d8d8;
}
.header_top {
  padding: 60px 0 30px;
  position: relative;
  height: 140px;
}

.wide_max_width_area {
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
}

.logo_area {
  position: absolute;
  left: 0;
  top: 0;
  padding: 5px;
}

.search_area {
  position: absolute;
  top: 65px;
  left: 300px;
}

.search_area input {
  width: 350px;
  height: 35px;
  border: 2px solid black;
  border-radius: 24px;
  padding: 0 8px 0 22px;
}

nav {
  position: absolute;
  top: 65px;
  right: 10px;
  float: right;
  font-weight: bold;
}

nav ul,
nav button {
  float: left;
  margin: 0;
}

nav button {
  border-style: none;
  background-color: black;
  color: white;
  width: 64px;
  height: 22px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.menu_item {
  list-style: none;
  float: left;
  margin-right: 30px;
  cursor: pointer;
  padding: 2px;
  position: relative;
}

.menu_item a {
  text-decoration: none;
  color: black;
}

.menu_header {
  height: 45px;
  padding: 5px;
}

.menu_header:hover {
  animation-duration: 1ms;
  -webkit-transition: 1s ease;
  transition: 0.3s ease;
  color: #84cde5;
  border-top: 2px solid #84cde5;
}

.sub_menu_list {
  width: 150px;
  overflow: auto;
  font-weight: lighter;
  color: black;
  position: absolute;
  z-index: 1;
  background-color: white;
  display: none;
  padding: 0;
  border-top: 2px solid #84cde5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  list-style: none;
}

.category {
  width: 440px;
  height: 160px;
  right: 0;
  display: none;
  padding: 28px 0 22px;
}

.category_region {
  padding: 25px 0 20px;
}

.category_region li {
  float: left;
  width: 30%;
  list-style: none;
  padding: 3px;
  text-align: right;
}

.category p {
  display: block;
  text-align: right;
  font-size: 18px;
  margin-right: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.sub_menu_list li:hover {
  background-color: hsl(195, 65%, 71%, 0.5);
  animation-duration: 1ms;
  -webkit-transition: 1s ease;
  transition: 0.3s ease;
}

.activity li {
  padding: 13px;
  border-bottom: 0.5px solid #d8d8d8;
}

.sub_menu_list li a {
  z-index: 1;
}

.menu_item:hover > .sub_menu_list {
  display: block;
}

footer {
  height: 130px;
  background-color: #707070;
  margin-top: 50px;
}
